#selectSeat {
	margin: 200px;
	margin-top: 50px;
	text-align: center;
}

.seat {
	width: 30px;
	height: 30px;
}

.clicked {
	background-color: red;
	color: white;
}
#number {
	width: 30px;
	text-align: right;
}
#price{
	width: 100px;
	text-align: right;
}
.seat{
	height: 40px;
	width: 40px;
}
#screen{
	text-decoration: underline;
}