<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Expression</h1>
	
	<p th:text="|Hello, ${name}|">Hello, $name</p>

	<p th:text="${dto.subject}">dto.subject</p>
	<div th:object="${dto}">
		<p th:text="*{subject}">dto.subject</p>
		<p th:text="*{seq}">dto.seq</p>
	</div>
	
	<table border="1">
		<tr>
			<th>Subject</th>
			<td>Seq</td>
		</tr>
		<tr th:each="dto:${list}">
			<td th:text="*{dto.subject}">dto.subject</td>
			<td th:text="*{dto.seq}">dto.seq</td>
		</tr>
	</table>
	
	<table border="1">
		<tr th:if="${iflist} ne null">
			<td>iflist가 null이 아닙니다.</td>
		</tr>
		<tr th:unless="${iflist} ne null">
			<td>iflist가 null이 맞습니다.</td>
		</tr>
	</table>
	
	<div th:each="num:${#numbers.sequence(1, 3)}">
		<th:block th:switch="${num}">
			<p th:case="1" th:text="|this is ${num}|">1</p>
			<p th:case="2" th:text="|scond is ${num}|">2</p>
			<p th:case="3" th:text="|other is ${num}|">3</p>
		</th:block>
	</div>
	
	<a th:href="@{index.html}">index</a>
	<a th:href="@{util}">utility</a>
</body>
</html>