<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Heroic Features - Start Bootstrap Template</title>

<!-- bootstrap -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/heroic-features.css" rel="stylesheet">


<style>
.card-img-top {
	height: 350px;
}
</style>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Box Office</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">게시판</a></li>
					<li class="nav-item"><a class="nav-link" href="#">마이페이지</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">로그아웃</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img01.png" alt="">
					<div class="card-body">
						<h4 class="card-title">소셜네트워크</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=1" class="btn btn-primary">예매하기!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img02.png" alt="">
					<div class="card-body">
						<h4 class="card-title">매트릭스</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=2" class="btn btn-primary">예매하기!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img03.png" alt="">
					<div class="card-body">
						<h4 class="card-title">네트</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=3" class="btn btn-primary">예매하기!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img04.png" alt="">
					<div class="card-body">
						<h4 class="card-title">스위드피쉬</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=4" class="btn btn-primary">예매하기!!</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container">


		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img05.png" alt="">
					<div class="card-body">
						<h4 class="card-title">스티브잡스</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=5" class="btn btn-primary">예매하기!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img06.png" alt="">
					<div class="card-body">
						<h4 class="card-title">테이크다운</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=6" class="btn btn-primary">예매하기!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img07.png" alt="">
					<div class="card-body">
						<h4 class="card-title">패스워드</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=7" class="btn btn-primary">예매하기!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="images/img08.png" alt="">
					<div class="card-body">
						<h4 class="card-title">해커스</h4>
					</div>
					<div class="card-footer">
						<a href="/selectMovie?movieno=8" class="btn btn-primary">예매하기!!</a>
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">
				Copyright &copy; Your Website 2020 <br /> 주소 : 서울특별시 강남구 테헤란로 14길 6
				남도빌딩 <br />T : 02-562-2378
			</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
