<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script th:inline="javascript">

	 $(function(){
		 /*<![CDATA[*/
		var price = [[${price}]];
		 /*]]>*/
		 
        var IMP = window.IMP;
        IMP.init('imp77888976');
        
        var date = new Date().getTime();
        var pg = 'inicis';
        var msg;
        
        IMP.request_pay({
            pg : pg,
            pay_method : 'card',
            merchant_uid : 'merchant_' + date,
            name : '영화관람권',
            amount : price,
            buyer_name : '<%=member_id%>',
            
        }, function(rsp) {
        	
            if (rsp.success) {
            	
                $.ajax({
                    url: "/paymentSuccess",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                    	payment_impuid : rsp.imp_uid,
                        payment_date : date,
                        payment_type : pg,
                        payment_price : price
                    },
                	success: function(){
                		msg = '결제가 완료되었습니다.';
                        msg += '\n결제 금액 : ' + rsp.paid_amount;
                        msg += '\n카드 승인번호 : ' + rsp.apply_num;
                	},
                	error: function(){
                		msg = '결제에 실패했습니다.'
                	}
                
                });
               	alert(msg);
                location.href='main';
               
            } else {
                msg = '결제에 실패했습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
             	alert(msg);
             	
                location.href='/paymentFail';
            }
            
        });
        
    });

</script>

</head>
<body>

</body>
</html>