<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- bootstrap -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/heroic-features.css" rel="stylesheet">

<style>
	#selectDate{
		margin: 200px;
		margin-top: 50px;
	}
</style>
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="../">Box Office</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div id="selectDate" align="center">
		<h1 th:text="${movie.moviename}" align="center">영화 제목</h1><br/>
	
		<h3>날짜 선택</h3>
		<p><input type="date"></p>
		<br/>
		<h3>시간 선택</h3>
		<p>
			<select name="time">
				<option value="11">11:00</option>
				<option value="13">13:00</option>
				<option value="15">15:00</option>
				<option value="18">18:00</option>
			</select> 시
		</p> 
	</div>
	
	<div class="card-footer" align="center">
		<a href="selectSeat.html" class="btn btn-primary">다음으로</a>
	</div>
	
	
</body>
</html>